<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-2.xsd">

    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%d [%t] %5p %c{1.} - %m%n"/>
        </Console>
        <File name="FILE" fileName="logs/test-log.log">
            <PatternLayout pattern="%d [%t] %5p %c{1.} - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="com.mycompany" level="DEBUG"/>
        <Root level="ALL" additivity="true">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE" />
        </Root>
    </Loggers>

</Configuration>